h1 {
    color: rgb(165, 207, 245);
    background-color: rgb(62, 62, 69);
    text-align: center;
    border-color: rgb(11, 34, 73);
    border-style: groove;
}

h2 {
    text-align: center;
}
.main-content {
    background-color: rgb(123, 154, 212);
    color: black;
}

footer {
    color: rgb(9, 32, 73);
    background-color: rgb(166, 193, 243);
}

.anchor-1 {
    margin-left: 20px;
    margin-right: 40px;
}


a:hover {
    text-decoration: underline;
    color: black;
    text-shadow: 2px 2px 5px rgb(70, 102, 170);
}